body {
  background-image: url(./images/sneakers.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Arvo', serif;
}

.logo {
  margin: auto;
  width: 50%
}

.logo p{
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}
.designs img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.addForm{
  background-color: rgba(125, 125, 125, 0.2);
  margin: 25px;
  height: 450px;
  width: 360px;

}

form {
  border: solid black;
  border-radius: 20px;
  float: left;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  align-items: center;
}

li {
  list-style: none
}


input {
  width: 200px;
  height: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.designs{
  background-image: url(./images/wallpaper.jpg);
  max-width: 30%;
  float: left;
  margin: 20px auto;
  margin-left: 20px;
  width: 50%;
  padding: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 20px;
}
